@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyFont'; /* Define a name for your font */
    src: url('./fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Define the weight */
    font-style: normal; /* Define the style */
  }
  .disabled-button {
  opacity: 0.5; /* Make it look faded */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  background-color: #e0e0e0; /* Optional: change background color */
  color: #a0a0a0; /* Optional: change text color */
}
#myChart {
  width: 474px;
  height: 240px;
}
@media (max-width: 768px) {
  .small-screen-only {
    margin-left: 16px; /* equivalent to mx-16 */
  margin-right: 16px; /* or any specific style you want */
  }
  #myChart {
    width: 100% !important;
    height: auto !important;
    margin-top: 12px !important;
  }
  .fullw{
    width: 100% !important;
  }
  .mobilem{
    margin-bottom: 113px !important;  
  }
}
