@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyFont'; 
    src: url('./fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.disabled-button {
    opacity: 0.5; 
    cursor: not-allowed; 
    background-color: #e0e0e0; 
    color: #a0a0a0; 
}

#myChart {
    width: 474px;
    height: 240px;
}

.trans {
    z-index: 144; 
}

.tran {
    position: relative; 
}

@media (max-width: 768px) {
    .small-screen-only {
        margin-left: 16px; 
        margin-right: 16px; 
    }
    .segg {
      background-color: #10B981 ;
      color: #FFFFFF;
    }
    .gress{
      background-color: #3B82F6;
      height: 40px;        
      color: #FFFFFF;

    }
    #myChart {
        width: 100% !important;
        height: auto !important;
        margin-top: 12px !important;
    }
    .fullw {
        width: 100% !important;
    }
    .mobilem {
        margin-bottom: 113px !important;  
    }
}

:root {
    --background-color: white;
    --text-color: black;
    --color-bg: white;
    --border: 1px solid #F2F2F7; /* Add border style */
    --text1-color: #64748B;
    --color-bga: #F1F5F9;
    --texts-color: #484554;
    --border1: 1px solid  #F2F2F7;
    --text-color1: white;
    --colori : transparent;
    --colori1: #D1FAE5;
    --lopo : transparent; 
    --lopo1 : #DBEAFE;
  }

[data-theme="dark"] {
    --background-color: #383544;
    --text-color1: black;
    --text-color: white;
    --color-bg: #484554;
    --border: none; 
    --border1: none;/* No border in dark mode */
    --text1-color: white;
    --text2-color: #8576FF;
    --color-bga: #6A6676;
    --texts-color: #FCF7FF; 
    --colori : 2px  solid #10B981;
    --colori1 : transparent;
    --lopo: 2px solid #3B82F6;
    --lopo1 : transparent;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.polos{
  border : var(--lopo);
  background-color: var(--lopo1);
}
.txt2{
  color :var(--text-color1)
}
.bg6{
  stroke: var(--texts-color)
}
.bg3{
  background-color: var(--color-bga);
}
.bg22 {
    background-color: var(--color-bg);
}
.bg2{
  stroke: var(--text-color)
}
.bg4{
  color : var(--text2-color);
}
.bg77{
  border : var(--colori);
  background-color: var(--colori1);
}
.bg{
  background-color: var(--background-color);
}
.bd {
    border: var(--border); /* Use variable for border */
}
.bd1 {
  border-right: var(--border1); /* Use variable for border */
}
.txt1 {
  color: var(--text-color);
}
.txt {
    color: var(--text1-color);
}